name: 'Morph'
scopeName: 'source.morph'
type: 'tree-sitter'
parser: 'tree-sitter-morph'
fileTypes: ['morph']

scopes:
      'program': 'source.morph'

      'comment': 'comment.block'

      'import > "from"': 'keyword.control'
      'import > "import"': 'keyword.control'

      '":"': 'keyword.operator'

      '"+"': 'keyword.operator'
      '"-"': 'keyword.operator'
      '"*"': 'keyword.operator'
      '"/"': 'keyword.operator'
      '"%"': 'keyword.operator'
      '"|"': 'keyword.operator'
      '"&"': 'keyword.operator'

      '"=="': 'keyword.operator'
      '"!="': 'keyword.operator'
      '">"': 'keyword.operator'
      '"<"': 'keyword.operator'
      '">="': 'keyword.operator'
      '"<="': 'keyword.operator'
      '"!"': 'keyword.operator'

      '"||"': 'keyword.operator'
      '"&&"': 'keyword.operator'

folds: [
    {
        type: 'comment'
    }
    {
        start: {index: 0, type: '{'}
        end: {index: -1, type: '}'}
    }
    {
        start: {index: 0, type: '['}
        end: {index: -1, type: ']'}
    }
    {
        start: {index: 0, type: '('}
        end: {index: -1, type: ')'}
    }
]

comments: [
    {
        start: '/* '
        end: ' */'
    }

    {
        start: '// '
    }
]

